<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="start">
      <ion-menu-button menu="menu1"></ion-menu-button>
    </ion-button>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item-sliding *ngFor="let item of productList">
      <ion-item>
        <ion-label>
          <h2>Nombre: {{item.name}}</h2>
          <p>Precio: {{item.price}}</p>
        </ion-label>
        <ion-buttons slot="end">
          <ion-button (click)="edit(item)">
            <ion-icon slot="icon-only" name="create"></ion-icon>
          </ion-button>
          <ion-button color="danger" (click)="delete(item)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>